.mui-popup-backdrop {
	position: fixed;
	z-index: 998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	opacity: 0;
	background: rgba(0, 0, 0, .4)
}

.mui-popup-backdrop.mui-active {
	opacity: 1
}

.mui-popup {
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	display: none;
	overflow: hidden;
	width: 270px;
	-webkit-transition-property: -webkit-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
	transform: translate3d(-50%, -50%, 0) scale(1.185);
	text-align: center;
	opacity: 0;
	color: #000;
	border-radius: 13px
}

.mui-popup.mui-popup-in {
	display: block;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-transform: translate3d(-50%, -50%, 0) scale(1);
	transform: translate3d(-50%, -50%, 0) scale(1);
	opacity: 1
}

.mui-popup.mui-popup-out {
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	-webkit-transform: translate3d(-50%, -50%, 0) scale(1);
	transform: translate3d(-50%, -50%, 0) scale(1);
	opacity: 0
}

.mui-popup-inner {
	position: relative;
	padding: 15px;
	border-radius: 13px 13px 0 0;
	background: rgba(255, 255, 255, .95)
}

.mui-popup-inner:after {
	position: absolute;
	z-index: 15;
	top: auto;
	right: auto;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	background-color: rgba(0, 0, 0, .2)
}

.mui-popup-title {
	font-size: 18px;
	font-weight: 500;
	text-align: center
}

.mui-popup-title+.mui-popup-text {
	font-size: 14px;
	margin-top: 5px
}

.mui-popup-buttons {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	height: 44px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center
}

.mui-popup-button {
	font-size: 17px;
	line-height: 44px;
	position: relative;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	padding: 0 5px;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #007aff;
	background: rgba(255, 255, 255, .95);
	-webkit-box-flex: 1
}

.mui-popup-button:after {
	position: absolute;
	z-index: 15;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	display: block;
	width: 1px;
	height: 100%;
	content: '';
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	background-color: rgba(0, 0, 0, .2)
}

.mui-popup-button:first-child {
	border-radius: 0 0 0 13px
}

.mui-popup-button:first-child:last-child {
	border-radius: 0 0 13px 13px
}

.mui-popup-button:last-child {
	border-radius: 0 0 13px
}

.mui-popup-button:last-child:after {
	display: none
}

.mui-popup-button.mui-popup-button-bold {
	font-weight: 600
}

.mui-popup-input {
	font-size: 14px;
	width: 100%;
	height: 26px;
	margin: 0;
	margin-top: 15px;
	padding: 0 5px;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 0;
	background: #fff
}

/*input效果*/
.text-normal{
	color:#333333;
	font-size: 0.7rem;
	line-height: 0.7rem;
	background: #ffffff;
	border: 0.05rem solid #e7e7e7;
	border-radius: 0.1rem;
	height: 1.8rem;
	padding: 0.55rem 0.65rem;
	box-sizing: border-box;
}
/*input[type=text]的点击或者鼠标移入效果*/
.text-normal:active,
.text-normal:hover{
	color:#333333;
	font-size: 0.7rem;
	line-height: 0.7rem;
	background: #ffffff;
	border: 0.05rem solid #00558e;
	border-radius: 0.1rem;
	height: 1.8rem;
	padding: 0.55rem 0.65rem;
	box-sizing: border-box;
}
.text-normal:visited{
	color:#333333;
	font-size: 0.7rem;
	line-height: 0.7rem;
	background: #ffffff;
	border: 0.05rem solid #e7e7e7;
	border-radius: 0.1rem;
	height: 1.8rem;
	padding: 0.55rem 0.65rem;
	box-sizing: border-box;
}

/*重要按钮*/
.important-button{
	outline: none;
	-webkit-appearance: none;
	width: 100%;
	border-radius: 0.2rem;
	background: #00558e;
	color: #ffffff;
	padding: 0.6rem 0;
	font-size: 1rem;
	line-height: 1rem;
	text-align: center;
	box-sizing: border-box;
	outline-style: none;
	cursor: pointer;
	font-family:Microsoft YaHei;
}

.important-button2{
	outline: none;
	-webkit-appearance: none;
	width: 100%;
	border-radius: 0.2rem;
	background: #999999;
	color: #ffffff;
	padding: 0.6rem 0;
	font-size: 1rem;
	line-height: 1rem;
	text-align: center;
	box-sizing: border-box;
	outline-style: none;
	cursor: pointer;
	font-family:Microsoft YaHei;
}

.important-button3{
	outline: none;
	-webkit-appearance: none;
	width: 100%;
	border-radius: 0.2rem;
	background: #00558e;
	color: #ffffff;
	padding: 0.6rem 0;
	font-size: 1rem;
	line-height: 1rem;
	text-align: center;
	box-sizing: border-box;
	outline-style: none;
	cursor: pointer;
	font-family:Microsoft YaHei;
}

/*重要按钮手机点击效果*/
.important-button:active{
	background: #0b5dac;
}
.important-button2:active{
	background: #666666;
}

.important-button3:active{
	background: #0b5dac;
}
button,
.button:active,
.button:visited{
	border: none;
	list-style: none;
	outline: none;
	-moz-user-focus: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	-webkit-appearance: none;
}

.button {
  border: 0.05rem solid #0894ec;
  color: #0894ec;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 0.1rem;
  line-height: 1.9rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  padding: 0 0.5rem;
  margin: 0;
  height: 2rem;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  font-family: inherit;
  cursor: pointer;
}

.card {
  background: #fff;
  box-shadow: 0 1 2 rgba(0, 0, 0, 0.3); 
  margin-bottom: 0.5rem;
  position: relative;
  border-radius: 0.1rem;
  font-size: 0.7rem;
  height: 7rem;
}

.phoneansw_img {
    width: 6rem;
	height: 6rem;
	left: 0.5rem;
	top: 0.5rem;
}

.list-title {
	min-height: 2.4rem;
	margin-bottom: 0.35rem;
	padding-left: 6.7rem;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	display:-webkit-box;
	font-size: 0.5rem;
	line-height: 1.1rem;
}

.phoneradio_img{
   height: 0.9rem;
   display: block;
   position: absolute;
   right: 0.5rem;
   bottom:0.5rem;
}
.answtitle{
    font-size: 0.7rem;
	line-height: 1.1rem;
}
